.bg-info {
  width: 100%;
  z-index: 1;
  height: 110px;
  padding-right: 50px;
}

.bg-info {
  background-color: #dfe2ed !important;
}

.bg-info.dark {
  background-color: #476c77 !important;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 20px;
  color: #eeb071;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #eeb071;
}

.navbar-dark .navbar-nav .show > .nav-link {
  color: #eeb071;
}

.dropdown-item:hover {
  color: #eeb071;
}

.navbar-nav.show-menu {
  .nav-item {
    padding: 15px;
  }
}

.nav-item {
padding: 0 20px;
}

.navbar{
  img{
    mix-blend-mode: multiply;
    height: 40px;
  }
}

.navbar.full-menu {
  height: 100vh;
  display: block;
}

.page-body {
  width: 100%;
  padding: 0 50px;
}

body {
  font-family: 'Gill Sans';
  background-color: #dfe2ed;
  font-size: 1.2em;
  margin: 0px;
  z-index: 999;
  animation: fadein 2s;
  overflow: scroll;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.dropdown-item {
  color: #eeb071;
  font-weight: 500;
}

.dropdown-item:active, .dropdown-item:focus {
  background-color: gray;
}

.img-fluid {
  max-width: 50%;
}

.carousel-indicators {
  bottom: -25px;
}

b {
  font-weight: 600;
}


@media only screen and (min-width: 1140px) {
  .mobile-menu {
    display: none;
  }

  .dropdown-menu {
    background-color: #dfe2ed;
  }
}

@media only screen and (max-width: 1140px) {
  body {
    padding: 0px;
  }

  .menu {
    display: none;
  }

  .page-body {
    padding: 0 10px;
  }

  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav-item > .nav-link {
    padding-top: 0px;
  }

  .bg-info {
    height: 0;
    padding-right: 0;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: relative;
  }

  .bg-info.full-menu {
    background-color: #476c77 !important;
  }

  .down-arrow {
    display: none;
  }

  .row {
    display: block;
  }

  .dropdown-menu {
    border: none;
  }

  .dropdown-menu {
    background-color: #476c77 !important;
    li {
      text-align: center;
      padding: 30px 0 0 0;
    }
  }

  .dropdown-item {
    font-size: 20px;
    color: #eeb071;
  }

  ul {
    text-align: center;
  }

  .side-by-side-nav {
    display: block !important;
  }

  .food-photo-wrapper {
    max-width: 100%;
  }
}